body {
  font-family: 'Montserrat', sans-serif;
  background: #ffffff;
  color: #262726;
}

.cursor-pointer {
  cursor: pointer;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
}

.container-box {
  grid-gap: 0;
  padding: 0 1rem;
}

@media screen and (min-width: 767px) {
  .container-box {
    padding: 0 6.25rem;
  }
}
