body {
  font-family: 'Montserrat', sans-serif;
  background: #ffffff;
  color: #262726;
}

.cursor-pointer {
  cursor: pointer;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
}
